html{
    background-color: blue;
}
body
* {
    font-size: 16px;
    padding = 0;
    margin = 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}
